

  .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: black;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: #06D85F;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .new-chanel-popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 500px;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .new-chanel-popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .new-chanel-popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .new-chanel-popup .close:hover {
    color: #06D85F;
  }
  .new-chanel-popup .channel-content {
    
    overflow: auto;
  }
  .chanel-head-name{
font-size: 20px;
margin-bottom: 5px;
  }
#create{
    width: 100px;
    font-size: 30px;
    border-radius: 5px;
    border: none;
    position: absolute;
    bottom: 20px;
    right: 30px;
}

#create:hover{
    cursor: pointer;
    background-color: #333;
    color: #fff;
}
#channel-name,#description{
    width: 95%;
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
}

.channel-dis{
    color: #c3c2c3;
    font-size: 20px;
}


  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .new-chanel-popup{
        margin: 50px auto;
      width: 70%;
    }
  }