*,
*::before,
*::after {
  box-sizing: border-box;
}
/*--------------------
Buttons
--------------------*/
/* .aaa{
  background-color: #266980;
} */
.pppp{
  font-size: 16px;
  color: #052639;
}
.submit-button{
  display: block;
  background-color: #e7ca71;
  color: hsl(0, 0, 100);
  text-decoration: none;
  margin: 20px 0;
  padding: 15px 15px;
  border-radius: 5px;
  position: relative;
} 
.submit-button:hover::after {
    background: hsla(0, 0, 0, 0.1);
    box-shadow: inset 0 3px 0 hsla(0, 0, 0, 0.2);
  }
.submit-button::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .2s ease-in-out;
    box-shadow: inset 0 3px 0 hsla(0, 0, 0, 0), 0 3px 3px hsla(0, 0, 0, .2);
    border-radius: 5px;
  }



/*--------------------
Form
--------------------*/
.login fieldset {
    border: none;
    padding: 0;
    margin: 20px 0;
    position: relative;
     
}
.login input {
    width: 100%;
    height: 48px;
    color: hsl(0, 0, 20);
    padding: 15px 40px 15px 15px;
    border-radius: 5px;
    font-size: 14px;
    outline: none!important;
    border: 1px solid black;
    box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);
    vertical-align: top;
}
.login button {
    cursor: pointer;
    width: 100%;
    color: #052639;
    outline: none!important;
    background-color: #e7ca71;
    /* background: linear-gradient(-5deg, hsl(86, 61%, 44%), hsl(86, 65%, 54%)); */
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 3px 0px hsla(86, 21%, 44%, 0.2);
    text-shadow: 0 2px 3px hsla(0, 0, 0, 0.2);
}

#login {
  margin-top: 10px;
  padding: 3% 41%;
  background-color: #e7ca71;
  box-shadow: inset 0 3px 0 hsla(0, 0, 0, 0.2);
  border-radius: 5px;
  background: hsla(0, 0, 0, 0.1);
  font-weight: bold;
}
/*--------------------
Signup
--------------------*/
.aaa{
  /* margin-top: 25%; */
  position: relative;
}
.aaa img{
  width: 100%;
  height: 100vh;
}
.signup {
  margin: auto;
  border: 2px solid #052639;
  margin-top: 1%;
  width: 400px;
  background: hsl(0, 0, 100);
  border-radius: 10px;
  box-shadow: 0 3px 25px hsla(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  
}
#immg{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.signup-classic
{
  width: 100%;
  padding: 10px 50px;
  background-color: #f4f1e8;
}

.signup-classic h1{
    font-weight: bolder;
    color: #052639;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 15px;
    text-shadow: 0 2px 3px hsla(0, 0, 0, 0.1);
}
.signup-classic fieldset::after {
   
    content: '\f007';
    font-family: FontAwesome;
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 2;
    width: 20px;
    color: hsla(0, 0, 0, .2);
    text-align: center;
}
.signup-classic .emaill::after {
    content: '\f0e0';
    opacity: 0.5;
}
.signup-classic .user::after {
    opacity: 0.5;
}
.signup-classic .passwordd::after {
    content: '\f023';
    opacity: 0.5;
}
.signup-classic .phonee::after {
  content: "\f095";
  
  opacity: 0.5;
}